@media (max-width: 991px) {
  #header_area .login_signup {
    margin: 30px 0;
  }
  #header_area form {
    width: 100% !important;
  }
  #header_area form input {
    border-radius: 10px 0 0 10px;
  }
  #header_area ul.navbar-nav {
    border-radius: 10px;
    border: 2px solid #e1e1e1;
    padding: 4px 10px;
  }
  #header_area button.navbar-toggler {
    border: none;
  }
  #header_area button.navbar-toggler:focus {
    outline: none;
    box-shadow: 2px 2px 20px var(--clr_primary);
  }
}
