:root {
  --clr_primary: #6c5dd3;
  --clr_orange: #ff754c;
  --clr_white: #fff;
  --clr_black: #000;
  --clr_heading: #11142d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cairo", serif;
  color: var(--clr_heading);
  font-weight: 700;
  font-weight: 700;
}
p {
  font-family: "Open Sans", serif;
}
.section_heading h2 {
  font-size: 50px;
  font-weight: 700;
}

/* ==== Header Area ==== */

#header_area {
  box-shadow: 0 1px 10px #e1e1e1;
}
#header_area .main_menu {
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  margin-right: 20px;
}

#header_area form input {
  border-radius: 0;
  outline: none;
  border-left: 2px solid #e1e1e1;
  border-right: 2px solid #e1e1e1;
  border-top: none;
  border-bottom: none;
}
#header_area form input::placeholder {
  color: #aaaaaa;
}
#header_area form a,
#header_area .signin_signup a {
  background-color: #f0eeff;
  color: var(--clr_primary);
  font-weight: 700;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 8px;
}
#header_area form a {
  background: none;
  padding: 10px 20px;
}
#header_area .signin_signup a:hover {
  background: var(--clr_primary);
  color: var(--clr_white);
  box-shadow: 0 25px 33px rgba(108, 93, 211, 0.25);
}

/* ==== Header Area ==== */

/* ==== Banner Area ==== */
.banner_slider {
  background: #f2f0fe;
  border-radius: 24px;
  padding: 70px 60px 150px 60px;
  position: relative;
  overflow: hidden;
}
.banner_slider h4 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
  color: var(--clr_primary);
}
.banner_slider h1 {
  font-size: 60px;
  margin: 20px 0px;
}
.banner_slider h2 {
  font-size: 40px;
}
.banner_slider p {
  font-size: 14px;
  color: var(--clr_heading);
  margin: 20px 0;
  max-width: 52%;
}
.btns a {
  padding: 15px 30px;
  border: 2px solid #aaaaaa;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}
.btns a:hover {
  background: var(--clr_primary);
  color: var(--clr_white);
  border-color: var(--clr_primary);
}
.banner_slider span {
  position: absolute;
}
span.shape:nth-child(1) {
  left: 5%;
  top: 3%;
}
span.shape:nth-child(2) {
  left: 53%;
  bottom: 5%;
  z-index: 1;
}
span.circular_bg {
  width: var(--w);
  height: var(--h);
  background: var(--bg);
  border-radius: 50%;
}
span.circular_bg:nth-child(3) {
  top: -60%;
  right: -15%;
}
span.circular_bg:nth-child(4) {
  left: 50%;
  bottom: -45%;
}
.banner_best_seller {
  background: #9c9c9c;
  border-radius: 24px;
  padding: 20px 30px;
  color: var(--clr_white);
}
.single_seller picture {
  width: 200px;
  height: 290px;
  border-radius: 14px;
  overflow: hidden;
}
.banner_best_seller h2 {
  font-size: 48px;
  color: var(--clr_white);
}
.single_seller h3 {
  font-size: 20px;
  color: var(--clr_white);
}
.single_seller p {
  font-size: 12px;
  color: var(--clr_white);
}
.single_seller a {
  background: var(--clr_white);
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 700;
  color: var(--clr_heading);
}
/* ==== Banner Area ==== */

/* ==== Featured Books Area ==== */
#featured_books_area {
  background: #f2f0fe;
}
.featured_left {
  padding-right: 50px;
}
.featured_books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  background: var(--clr_white);
  border-radius: 14px;
  padding: 30px;
  box-shadow: 0 25px 33px 0 rgba(108, 93, 211, 0.25);
}
.book_name {
  display: flex;
  gap: 20px;
  align-items: center;
}
ul.author {
  display: flex;
  gap: 50px;
}
.content picture {
  max-width: 290px;
  max-height: 410px;
  border-radius: 14px;
  overflow: hidden;
}
.featured_books picture {
  max-height: 335px;
  max-width: 240px;
  border-radius: 14px;
  overflow: hidden;
}
.featured_books picture img:hover {
  transform: scale(1.1) rotate(5deg);
}
.icon i {
  font-size: 40px;
}
.name h5 {
  font-size: 30px;
  font-weight: 700;
}
.name p {
  color: var(--clr_primary);
}
.text h5 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin: 20px 0 15px;
}
.text p {
  font-size: 14px;
  line-height: 20px;
}
.author li p {
  color: #aaaaaa;
  font-size: 14px;
  margin-bottom: 10px;
}
.author li h3 {
  font-size: 18px;
  font-weight: 500;
}
.price_buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price_buy li h3 {
  font-size: 28px;
  font-weight: 700;
}
.price_buy li h3 span {
  font-size: 20px;
  font-weight: 500;
  color: #aaaaaa;
  text-decoration: line-through;
}
.price_buy li a {
  padding: 10px 15px;
  background: var(--clr_primary);
  border: 2px solid var(--clr_primary);
  color: var(--clr_white);
  border-radius: 8px;
}
.price_buy li a:hover {
  color: var(--clr_primary);
  background: transparent;
}
/* ==== Featured Books Area ==== */
